beautifulsoup4
email-validator
flask
flask-admin
flask-dance
flask-login
flask-sqlalchemy
flask-wtf
gunicorn
matplotlib
msoffcrypto-tool
oauthlib
openpyxl
pdfplumber
pyjwt
sqlalchemy
werkzeug
wtforms
xlrd
